@keyframes wiggle{
	0%{
		transform:translateY(3%)
	}
	25%{
		transform:translateY(-3%)
	}
	50%{
		transform:translateY(3%)
	}
	75%{
		transform:translateY(-3%)
	}
	100%{
		transform:translateY(0%)
	}
}


@media only screen and (min-width: 300px){
	.navbar-secondary{
		position: fixed;
		top: 40px;
		right: 0;
		width: 100vw;
		height: 100vh;
		transition: all 0.3s ease-in-out;
		z-index: 1000;
	}
	.navbar-secondary-part1{
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: rgb(240, 240, 240);
		width: 100vw;
		height: 100vh;
		transition: all 0.3s ease-in-out;
		position: absolute;
		right: 0;
	}
	.navbar-secondary-part1 h4{
		margin: 10px;
	}
	.navbar-secondary-user{
		position: fixed;
		top: 0px;
		width: 40vw;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background-color: #232f3e;
		color: #e6e6e6;
		height: 40px;
	}
	.navbar-secondary-user h3,
	.navbar-secondary-user svg{
		margin: 0 10px;
		font-weight: 400;
	}
	
	.navbar-secondary-bestsellers{
		margin-top: 60px !important;
		font-size: 25px !important;
		border-bottom: 1px solid dimgray !important;
		font-size: 0.875rem !important;
	}
	.navbar-secondary-close-btn{
		font-size: 30px;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 40px;
		height: 40px;
		text-align: center;
		cursor: pointer;
		color: white;
		font-weight: 100;
	}
	.navbar-secondary-part1 p:hover{
		animation: wiggle 0.3s ease-in-out;
	}
	.fa-arrow-left{
		position: absolute;
		left: 0;
		color: gray;
		transform: translate(100%, 10%) rotateZ(180deg);
	}
	.navbar-secondary-part1 span:hover > .fa-arrow-left{
		color: black;
		transform:translate(100%, 10%) rotateZ(0deg);
		transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	.navbar-secondary-part2{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		transition: all 0.3s ease-in-out;
		background-color: rgb(240, 240, 240);
		width: 100%;
		height: 100vh;
		transform: translateX(-100%);
	}
	.navbar-secondary-part2 h4{
		margin-top: 50px;
	}

	.navbar-secondary-part2 h5{
		position: relative;
		top: 40px;
		transform: translateX(75%);
		font-weight: 400 !important;
	}
	.navbar-secondary-part2 .MuiButtonGroup-root{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 100px;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.navbar-secondary-garden{
		position: absolute;
		top: 100px;
		display: none;
		flex-direction: column;

	}
	.navbar-secondary-toys{
		position: absolute;
		top: 100px;
		display: none;
		flex-direction: column;

	}
	.navbar-secondary-clothes{
		position: absolute;
		top: 100px;
		display: none;
		flex-direction: column;

	}
}

@media only screen and (min-width: 1024px){
	.navbar-secondary-menu{
		width: 40vw !important;
		overflow: hidden;
		position: fixed;
		top: 40px;
		right: 0;
		width: 100vw;
		height: 100vh;
		
	}
	.navbar-secondary-slider{
		transition: all 0.3s ease-in-out;
		width: 100%;
	}
	.navbar-secondary-part1{
		width: 100%;
	}
	.navbar-secondary-part2{
		width: 100%;
	}
}
